NEO4J_URI=localhost
NEO4J_USER=neo4j
NEO4J_PASSWORD="ChangeMe12#$"
OPENSEARCH_URI=localhost
OPENSEARCH_INDEX=syslog_index
BACKEND_URI=localhost
BACKEND_PORT=8765
# AI_MODEL="gemini-1.5-flash"
# AI_MODEL="gpt-5-mini"
# AI_REALTIME_MODEL="gpt-4o-mini"
# AI_MODEL="gpt-oss-120b"
# AI_CHUNK_SIZE=400
# AI_OVERLAP=40
# AI_API_KEY=''
